*{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}

.xs{
	width: 1rem;
	height: 1rem;
    position: absolute;
    bottom: 0;
    left: 48%;
    z-index: 99999;
}

#app{
	overflow: hidden;
	background-image: url('BJ.png');
	background-size: 100% 100%;
	position: relative;
}

ul>li{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 40rem;
   font-size: 0.8rem;
   overflow: hidden;
   text-align: center;
}

ul>li>.font{
	width: 14.174rem;
	position: absolute;
	bottom: 6rem;
	left: -14.174rem;
}

ul>li>.font>p{
	padding: 3px 0;
	position: relative;
}

ul>li>.teleimg{
	display: block;
	width: 14rem;
	height: 8rem;
	position: absolute;
	top: 6rem;
	left: -14rem;
}
ul>li>.noeimg{
	width: 14rem;
	height: 8rem;
}
ul>li>.left{
	font-size: 1rem;
	width: 1rem;
	display: inline-block;
	padding-left: 15px;
	padding-right: 30px;
	color: #9f5000;
}
.qq{
   position: absolute;
   right: 1rem;
   display: flex;
   justify-content: center;
   top: 2rem;
}
.q1{
	width: 2rem;
	font-size: 2rem;
	color: #9f5000;
}
.q2{
	width: 2px;
	height:8.004rem;
	background: #000000;
	margin: 0 0.445rem;
}
.q3{
	width: 1rem;
	font-size: 1rem;
	padding-right: 0.455rem;
}
.tow{
	position: absolute;
	bottom: 9.783rem;
	font-size: 1.7rem;
	left: 25%;
}
.uu{
	width: auto;
	margin: 5.829rem 0;
	font-size: 1rem;
}
.uu>div{padding: 5px 0;}
.pp{
	width: 80%;
}